<mat-dialog-content>
    <div>
        <button mat-fab color="primary" style="font-size: 2rem; font-weight: 400;" aria-label="Cuenta de usuario">B</button>
        <br>
        <h1 class="mat-title">Benito Pablo Juárez García</h1>
        <h3 class="mat-subheading-2">benito2020</h3>
        <br>
        <button mat-stroked-button>Cambiar contraseña</button>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div>
        <button mat-stroked-button (click)="logOut()">Salir</button>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div >
        <button mat-button style="font-size:0.7rem; line-height:1.5rem; font-weight: 100;" (click)="acercaDe()">Acerca de</button>
    </div>
    
</mat-dialog-content>

