
<mat-grid-list cols="3" gutterSize="5px" rowHeight="110px"   >
    <mat-grid-tile>
        <a routerLink="/pacientes">
            <img src="assets/patient.svg">
            <span>Pacientes</span>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/pacientes" >
            <img src="assets/calendar-blue.svg">
            <span>Agenda médica</span>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/pacientes" >
            <img src="assets/settings.svg">
            <span>Configuración</span>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/seguridad" >
            <img src="assets/users.svg">
            <span>Seguridad</span>
        </a>
    </mat-grid-tile>
</mat-grid-list>